<a href="https://colab.research.google.com/github/ravi-kr/Universe/blob/main/D3_Binary_Search_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [132]:
class User:
    pass

user1 = User()
print(user1)
print(type(user1))

<__main__.User object at 0x7f4a082d5d50>
<class '__main__.User'>

In [133]:
class User:
  def __init__(self, username, name, email):
    self.username = username
    self.name = name
    self.email = email
    print('User Created!')

In [134]:
user2 = User('john', 'John Doe', 'john@doe.com')

User Created!

In [135]:
user2

In [136]:
user2.name

'John Doe'

In [137]:
user2.email, user2.username

('john@doe.com', 'john')

In [138]:
class User:
  def __init__(self, username, name, email):
    self.username = username
    self.name = name
    self.email = email

  def introduce_yourself(self, guest_name):
    print("Hi {}, I'm {}! Contact me at {} .".format(guest_name, self.name, self.email))

In [139]:
user3 = User('jane', 'Jane Doe', 'jane@doe.com')

In [140]:
user3.introduce_yourself('David')

Hi David, I'm Jane Doe! Contact me at jane@doe.com .

In [141]:
User.introduce_yourself(user3, 'David')

Hi David, I'm Jane Doe! Contact me at jane@doe.com .

In [142]:
class User:
  def __init__(self, username, name, email):
    self.username = username
    self.name = name
    self.email = email

  def __repr__(self):
    return "User(username='{}', name='{}', email='{})'".format(self.username, self.name, self.email)

  def __str__(self):
    return self.__repr__()

In [143]:
user4 = User('jane', 'Jane Doe', 'jane@doe.com')

In [144]:
user4

User(username='jane', name='Jane Doe', email='jane@doe.com)'

In [145]:
class UserDatabase:
  def insert(self, user):
    pass

  def find(self, username):
    pass

  def update(self, user):
    pass

  def list_all(self):
    pass

In [146]:
aakash = User('aakash', 'Aakash Rai', 'aakash@example.com')
biraj = User('biraj', 'Biraj Das', 'biraj@example.com')
hemanth = User('hemanth', 'Hemanth Jain', 'hemanth@example.com')
jadhesh = User('jadhesh', 'Jadhesh Verma', 'jadhesh@example.com')
siddhant = User('siddhant', 'Siddhant Sinha', 'siddhant@example.com')
sonaksh = User('sonaksh', 'Sonaksh Kumar', 'sonaksh@example.com')
vishal = User('vishal', 'Vishal Goel', 'vishal@example.com')

In [147]:
users = [aakash, biraj, hemanth, jadhesh, siddhant, sonaksh, vishal]

In [148]:
biraj.username, biraj.email, biraj.name

('biraj', 'biraj@example.com', 'Biraj Das')

In [149]:
print(aakash)

User(username='aakash', name='Aakash Rai', email='aakash@example.com)'

In [150]:
users

[User(username='aakash', name='Aakash Rai', email='aakash@example.com)',
 User(username='biraj', name='Biraj Das', email='biraj@example.com)',
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com)',
 User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com)',
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)',
 User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com)',
 User(username='vishal', name='Vishal Goel', email='vishal@example.com)']

In [151]:
'biraj' < 'hemanth'

True

In [152]:
class UserDatabase:
  def __init__(self):
    self.users = []

  def insert(self, user):
    i = 0
    while i < len(self.users):
      if self.users[i].username > user.username:
        break
      i += 1
    self.users.insert(i, user)

  def find(self, username):
    for user in self.users:
      if user.username == username:
        return user

  def update(self, user):
    target = self.find(user.username)
    target.name, target.email = user.name, user.email

  def list_all(self):
    return self.users

In [153]:
database = UserDatabase()

In [154]:
database.insert(hemanth)
database.insert(aakash)
database.insert(siddhant)

In [155]:
user = database.find('siddhant')
user

User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)'

In [156]:
user

User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)'

In [157]:
print(user)

User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)'

In [158]:
database.list_all()

[User(username='aakash', name='Aakash Rai', email='aakash@example.com)',
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com)',
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)']

In [159]:
database.insert(biraj)

In [160]:
database.list_all()

[User(username='aakash', name='Aakash Rai', email='aakash@example.com)',
 User(username='biraj', name='Biraj Das', email='biraj@example.com)',
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com)',
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)']

In [161]:
%%time
for i in range(100000000):
  j = i*i

CPU times: user 13.3 s, sys: 11.2 ms, total: 13.3 s
Wall time: 13.4 s

In [162]:
class TreeNode:
  def __init__(self, key):
    self.key = key
    self.left = None
    self.right = None

In [163]:
node0 = TreeNode(3)
node1 = TreeNode(4)
node2 = TreeNode(5)

In [164]:
node0

In [165]:
node0.key

3

In [166]:
node0.left = node1
node0.right = node2

In [167]:
tree = node0

In [168]:
tree.key

3

In [169]:
tree.left.key

4

In [170]:
tree.right.key

5

In [171]:
tree_tuple = ((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [172]:
def parse_tuple(data):
  if isinstance(data, tuple) and len(data) == 3:
    node = TreeNode(data[1])
    node.left = parse_tuple(data[0])
    node.right = parse_tuple(data[2])
  elif data is None:
    node = None
  else:
    node = TreeNode(data)
  return node

In [173]:
tree2 = parse_tuple(tree_tuple)

In [174]:
tree2.key

2

In [175]:
tree2.left.key, tree2.right.key

(3, 5)

In [176]:
tree2.left.left.key, tree2.left.right, tree2.right.left.key, tree2.right.right.key

(1, None, 3, 7)

In [177]:
tree2.right.left.right.key, tree2.right.right.left.key, tree2.right.right.right.key

(4, 6, 8)

In [178]:
def tree_to_tuple(node):
  pass

In [179]:
def display_keys(node, space = '\t', level = 0):

  if node is None:
    print((space*level + '∅'))
    return

  if node.left is None and node.right is None:
    print(space*level + str(node.key))
    return

  display_keys(node.right, space, level+1)
  print(space*level + str(node.key))
  display_keys(node.left, space, level+1)

In [180]:
display_keys(tree2)

			8
		7
			6
	5
			4
		3
			∅
2
		∅
	3
		1

In [181]:
def traverse_in_order(node):
  if node is None:
    return []
  return traverse_in_order(node.left) + [node.key] + traverse_in_order(node.right)

In [182]:
tree = parse_tuple(((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [183]:
display_keys(tree)

			8
		7
			6
	5
			4
		3
			∅
2
		∅
	3
		1

In [184]:
traverse_in_order(tree)

[1, 3, 2, 3, 4, 5, 6, 7, 8]

In [185]:
def tree_height(node):
  if node is None:
    return 0
  return 1 + max(tree_height(node.left), tree_height(node.right))

In [186]:
tree_height(tree)

4

In [187]:
def tree_size(node):
  if node is None:
    return 0
  return 1 + tree_size(node.left) + tree_size(node.right)

In [188]:
tree_size(tree)

9

In [189]:
class TreeNode():
  def __init__(self, key):
    self.key, self.left, self.right = key, None, None

  def height(self):
    if self is None:
      return 0
    return 1 + max(TreeNode.height(self.left), TreeNode.height(self.right))

  def size(self):
    if self is None:
      return 0
    return 1 + TreeNode.size(self.left) + TreeNode.size(self.right)

  def traverse_in_order(self):
    if self is None:
      return []
    return (TreeNode.traverse_in_order(self.left) + [self.key] + TreeNode.traverse_in_order(self.right))

  def display_keys(self, space = '\t', level = 0):
    if self is None:
      print(space*level + '∅')
      return

    if self.left is None and self.right is None:
      print(space*level + str(self.key))
      return

    display_keys(self.right, space, level + 1)
    print(space*level + str(self.key))
    display_keys(self.left, space, level + 1)

  def to_tuple(self):
    if self is None:
      return None
    if self.left is None and self.right is None:
      return self.key

    return TreeNode.to_tuple(self.left), self.key, TreeNode.to_tuple(self.right)

  def __str__(self):
    return "BinaryTree <{}>".format(self.to_tuple())

  def __repr__(self):
    return "BinaryTree <{}>".format(self.to_tuple())

  @staticmethod
  def parse_tuple(data):
    if data is None:
      node = None
    elif isinstance(data, tuple) and len(data) == 3:
      node = TreeNode(data[1])
      node.left = TreeNode.parse_tuple(data[0])
      node.right = TreeNode.parse_tuple(data[2])
    else:
      node = TreeNode(data)

    return node

In [190]:
tree_tuple

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [191]:
tree = TreeNode.parse_tuple(tree_tuple)

In [192]:
tree

BinaryTree <((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))>

In [193]:
tree.display_keys()

			8
		7
			6
	5
			4
		3
			∅
2
		∅
	3
		1

In [194]:
tree.height()

4

In [195]:
tree.size()

9

In [196]:
tree.traverse_in_order()

[1, 3, 2, 3, 4, 5, 6, 7, 8]

In [197]:
tree.to_tuple()

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [198]:
def remove_none(nums):
  return [x for x in nums if x is not None]

def is_bst(node):
  if node is None:
    return True, None, None

  is_bst_l, min_l, max_l = is_bst(node.left)
  is_bst_r, min_r, max_r = is_bst(node.right)

  is_bst_node = (is_bst_l and is_bst_r and 
                 (max_l is None or node.key > max_l) and
                 (min_r is None or node.key < min_r))
  
  min_key = min(remove_none([min_l, node.key, min_r]))
  max_key = max(remove_none([max_l, node.key, max_r]))

  return is_bst_node, min_key, max_key

In [199]:
tree1 = TreeNode.parse_tuple(((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [200]:
is_bst(tree1)

(False, 1, 8)

In [201]:
tree2 = TreeNode.parse_tuple((('aakash', 'biraj', 'hemanth'), 'jadhesh', ('siddhant', 'sonaksh', 'vishal')))

In [202]:
is_bst(tree2)

(True, 'aakash', 'vishal')

In [203]:
class BSTNode():
  def __init__(self, key, value = None):
    self.key = key
    self.value = value
    self.left = None
    self.right = None
    self.parent = None

In [204]:
tree = BSTNode(jadhesh.username, jadhesh)

In [205]:
tree.key, tree.value

('jadhesh',
 User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com)')

In [206]:
tree.left = BSTNode(biraj.username, biraj)
tree.right = BSTNode(sonaksh.username, sonaksh)

In [207]:
tree.left.key, tree.left.value, tree.right.key, tree.right.value

('biraj',
 User(username='biraj', name='Biraj Das', email='biraj@example.com)',
 'sonaksh',
 User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com)')

In [208]:
display_keys(tree)

	sonaksh
jadhesh
	biraj

In [209]:
def insert(node, key, value):
  if node is None:
    node = BSTNode(key, value)
  elif key < node.key:
    node.left = insert(node.left, key, value)
    node.left.parent = node
  elif key > node.key:
    node.right = insert(node.right, key, value)
    node.right.parent = node
  return node

In [210]:
tree = insert(None, jadhesh.username, jadhesh)

In [211]:
insert(tree, biraj.username, biraj)
insert(tree, sonaksh.username, sonaksh)
insert(tree, aakash.username, aakash)
insert(tree, hemanth.username, hemanth)
insert(tree, siddhant.username, siddhant)
insert(tree, vishal.username, vishal)

In [212]:
display_keys(tree)

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [213]:
tree2 = insert(None, aakash.username, aakash)
insert(tree2, biraj.username, biraj)
insert(tree2, hemanth.username, hemanth)
insert(tree2, jadhesh.username, jadhesh)
insert(tree2, siddhant.username, siddhant)
insert(tree2, sonaksh.username, sonaksh)
insert(tree2, vishal.username, vishal)

In [214]:
display_keys(tree2)

						vishal
					sonaksh
						∅
				siddhant
					∅
			jadhesh
				∅
		hemanth
			∅
	biraj
		∅
aakash
	∅

In [215]:
tree_height(tree2)

7

In [216]:
def find(node, key):
  if node is None:
    return None
  if key == node.key:
    return node
  if key < node.key:
    return find(node.left, key)
  if key > node.key:
    return find(node.right, key)

In [217]:
node = find(tree, 'hemanth')

In [218]:
node.key, node.value

('hemanth',
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com)')

In [219]:
def update(node, key, value):
  target = find(node, key)
  if target is not None:
    target.value = value

In [220]:
update(tree, 'hemanth', User('hemanth', 'Hemanth J', 'hemanthj@example.com'))

In [221]:
node = find(tree, 'hemanth')

In [222]:
node.value

User(username='hemanth', name='Hemanth J', email='hemanthj@example.com)'

In [223]:
def list_all(node):
  if node is None:
    return []
  return list_all(node.left) + [(node.key, node.value)] + list_all(node.right)

In [224]:
list_all(tree)

[('aakash',
  User(username='aakash', name='Aakash Rai', email='aakash@example.com)'),
 ('biraj',
  User(username='biraj', name='Biraj Das', email='biraj@example.com)'),
 ('hemanth',
  User(username='hemanth', name='Hemanth J', email='hemanthj@example.com)'),
 ('jadhesh',
  User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com)'),
 ('siddhant',
  User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)'),
 ('sonaksh',
  User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com)'),
 ('vishal',
  User(username='vishal', name='Vishal Goel', email='vishal@example.com)')]

In [225]:
def is_balanced(node):
  if node is None:
    return True, 0
  balanced_l, height_l = is_balanced(node.left)
  balanced_r, height_r = is_balanced(node.right)
  balanced = balanced_l and balanced_r and abs(height_l - height_r) <= 1
  height = 1 + max(height_l, height_r)
  return balanced, height

In [226]:
is_balanced(tree)

(True, 3)

In [227]:
is_balanced(tree2)

(False, 7)

In [238]:
def make_balanced_bst(data, lo = 0, hi = None, parent = None):
  if hi is None:
    hi = len(data) - 1
  if lo > hi:
      return None
    
  mid = (lo+hi) // 2
  key, value = data[mid]

  root = BSTNode(key, value)
  root.parent = parent
  root.left = make_balanced_bst(data, lo, mid - 1, root)
  root.right = make_balanced_bst(data, mid+1, hi, root)

  return root

In [239]:
data = [(user.username, user) for user in users]
data

[('aakash',
  User(username='aakash', name='Aakash Rai', email='aakash@example.com)'),
 ('biraj',
  User(username='biraj', name='Biraj Das', email='biraj@example.com)'),
 ('hemanth',
  User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com)'),
 ('jadhesh',
  User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com)'),
 ('siddhant',
  User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)'),
 ('sonaksh',
  User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com)'),
 ('vishal',
  User(username='vishal', name='Vishal Goel', email='vishal@example.com)')]

In [240]:
tree = make_balanced_bst(data)

In [241]:
display_keys(tree)

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [242]:
tree3 = None
for username, user in data:
  tree3 = insert(tree3, username, user)

In [243]:
def balance_bst(node):
  return make_balanced_bst(list_all(node))

In [244]:
tree1 = None
for user in users:
  tree1 = insert(tree1, user.username, user)

In [245]:
display_keys(tree1)

						vishal
					sonaksh
						∅
				siddhant
					∅
			jadhesh
				∅
		hemanth
			∅
	biraj
		∅
aakash
	∅

In [246]:
tree2 = balance_bst(tree1)

In [247]:
display_keys(tree2)

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [248]:
import math
math.log(100000000,2)

26.5754247590989

In [249]:
%%time

for i in range(26):
  j = i*i

CPU times: user 13 µs, sys: 1 µs, total: 14 µs
Wall time: 19.3 µs

In [250]:
%%time
for i in range(100000000):
  j = i*i

CPU times: user 12.8 s, sys: 686 µs, total: 12.8 s
Wall time: 12.8 s

In [251]:
class TreeMap():
  def __init__(self):
    self.root = None

  def __setitem__(self, key, value):
    node = find(self.root, key)
    if not node:
      self.root = insert(self.root, key, value)
      self.root = balance_bst(self.root)
    else:
      update(self.root, key, value)

  def __getitem__(self, key):
    node = find(self.root, key)
    return node.value if node else remove_none
  def __iter__(self):
    return (x for x in list_all(self.root))

  def __len__(self):
    return tree_size(self.root)

  def display(self):
    return display_keys(self.root)

In [252]:
users

[User(username='aakash', name='Aakash Rai', email='aakash@example.com)',
 User(username='biraj', name='Biraj Das', email='biraj@example.com)',
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com)',
 User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com)',
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)',
 User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com)',
 User(username='vishal', name='Vishal Goel', email='vishal@example.com)']

In [253]:
treemap = TreeMap()

In [255]:
treemap.display()

∅

In [256]:
treemap['aakash'] = aakash
treemap['jadhesh'] = jadhesh
treemap['sonaksh'] = sonaksh

In [257]:
treemap.display()

	sonaksh
jadhesh
	aakash

In [258]:
treemap['jadhesh']

User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com)'

In [259]:
len(treemap)

3

In [260]:
treemap['biraj'] = biraj
treemap['hemanth'] = hemanth
treemap['siddhant'] = siddhant
treemap['vishal'] = vishal

In [261]:
treemap.display()

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [262]:
for key, value in treemap:
  print(key, value)

aakash User(username='aakash', name='Aakash Rai', email='aakash@example.com)'
biraj User(username='biraj', name='Biraj Das', email='biraj@example.com)'
hemanth User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com)'
jadhesh User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com)'
siddhant User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)'
sonaksh User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com)'
vishal User(username='vishal', name='Vishal Goel', email='vishal@example.com)'

In [263]:
list(treemap)

[('aakash',
  User(username='aakash', name='Aakash Rai', email='aakash@example.com)'),
 ('biraj',
  User(username='biraj', name='Biraj Das', email='biraj@example.com)'),
 ('hemanth',
  User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com)'),
 ('jadhesh',
  User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com)'),
 ('siddhant',
  User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com)'),
 ('sonaksh',
  User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com)'),
 ('vishal',
  User(username='vishal', name='Vishal Goel', email='vishal@example.com)')]

In [264]:
treemap['aakash'] = User(username = 'aakash', name = 'Aakash N S', email = 'aakashns@example.com')

In [265]:
treemap['aakash']

User(username='aakash', name='Aakash N S', email='aakashns@example.com)'